.arch .arch-card {
  border-radius: 15px;
  background-color: white;
  height: 400px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.arch .arch-card .arch-card-info {
  width: 60%;
  padding: 40px 25px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.arch .arch-card .arch-card-info a {
  width: 25%;
  text-decoration: none;
  background-color: #a5ebd3;
  text-align: center;
  padding: 8px 0;
  color: #112211;
  font-size: 18px;
  border-radius: 10px;
  line-height: 22px;
}
