.modal {
    display: block;
    backdrop-filter: blur(7px);
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    position: relative;
    border:1px solid #606060;
    box-shadow: #ffffff 0px 0px 10px;

}
.modal-header,
.modal-footer {
    border: none;
}

.modal-header {
    margin: 0 1rem;
}

.modal-header .btn {
    position: absolute;
    top: 0.2rem;
    padding: 0;
    right: 1rem;
    
}
.modal-header .btn span {
    font-size:2rem;
    color: #606060;
    transition: 0.3s;
}
.modal-header .btn:hover span {
    color: #dadada; 
}

