.BY_MainCard {
  background-color: var(--white);
  box-shadow: 8px 4px 14px 0px var(--black_trans_05);
  width: 369px;
  max-height: 500px;
  border-radius: 15px;
}

.BY_MainCard .image_section {
  height: 48%;
}

.BY_MainCard .image_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.BY_MainCard .content_section {
  direction: rtl;
  height: 52%;
  padding: 18px 26px 20px 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.BY_MainCard .content_section .top_section {
  height: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BY_MainCard .content_section .top_section .title {
  width: 80%;
  font-size: var(--font_size_card_title);
  font-weight: 700;
  line-height: 46.05px;
}

.BY_MainCard .content_section .top_section .rate {
  width: 16%;
  font-size: 17px;
  font-weight: 400;
  line-height: 32.62px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.BY_MainCard .content_section .top_section .rate i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--yallow);
}

.BY_MainCard .content_section .middle_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
}

.BY_MainCard .content_section .middle_section .location {
  height: 40px;
  justify-content: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  display: flex;
  gap: 6px;
  color: var(--light_gray_icons);
}

.BY_MainCard .content_section .middle_section .location i {
  font-size: 20px;
}

.BY_MainCard .content_section .middle_section .brief_section {
  height: 100px;
  font-size: 14px;
  font-weight: 300;
  line-height: 26.87px;
}

.BY_MainCard .content_section .brief_section {
  height: 140px;
  font-size: var(--font_size_card_paragraph);
  font-weight: 300;
  line-height: 26.87px;
}

.BY_MainCard .content_section .bottom_section {
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.BY_MainCard .content_section .bottom_section .price {
  font-size: 14px;
  font-weight: 400;
  line-height: 22.81px;
  color: var(--light_gray_icons);
  width: 40%;
  display: flex;
  align-items: center;
  gap: 7px;
}

.BY_MainCard .content_section .bottom_section .price span {
  font-size: 24px;
  font-weight: 700;
  line-height: 39.09px;
  color: var(--black);
}

.BY_MainCard .content_section .bottom_section .location {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.3px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
  color: var(--light_gray_icons);
}

.BY_MainCard .content_section .bottom_section .location i {
  font-size: 20px;
}