.photo-slider {
    width: 100%;
}

.photo-slider img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    /* transition: .5s ease; */
}

.photo-slider .first-img {
    width: 100%;
    height: 708px;
    border-radius: 15px;
}

.photo-slider .first-img.active {
    opacity: 100%;
}

.photo-slider .img.active {
    opacity: 100%;
}

.photo-slider .photo-slider-grid {
    margin-top: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(368.38px, 1fr));
}

.photo-slider .img {
    transition: .3s ease;    
}

.photo-slider .photo-slider-grid img {
    height: 280.66px;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
}

.photo-slider .buttons-slider {
    margin-top: 74px;
    /* width: fit-content; */
    display: flex;
    gap: 4.77px;
    align-items: center;
    justify-content: center;
}

.photo-slider .buttons-slider div {
    cursor: pointer;
    width: 63.76px;
    height: 12.06px;
    border-radius: 13px;
    background-color: rgba(217, 217, 217, 1);
    transition: .5s ease;
}

.photo-slider .buttons-slider div.active {
    width: 103.61px;
    background-color: rgba(130, 203, 178, 1);
}

.photo-slider.mobile {    
    display: none;
}

.photo-slider.mobile img {
    height: 464px;
}

.photo-slider .buttons-slider.mobile {
    display: none;
}  

.slick-track {
    margin-left: 10px;
}

@media screen and (max-width: 1280px) {
    .photo-slider.mobile {    
        display: block;
    }   
    .photo-slider.desktop {    
        display: none;
    }  
    .photo-slider .buttons-slider.desktop {
        display: none;
    }  
    .photo-slider .buttons-slider.mobile {
        display: flex;
    }    
}
